<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	    <clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Charisma_Trader_Framework_Backend" value="https://azure.charisma.tech/Brokerage/_packaging/Charisma_Trader_Framework_Backend/nuget/v3/index.json" />
		<add key="Order_Management_Contracts" value="https://azure.charisma.tech/Brokerage/_packaging/Order_Management_Contracts/nuget/v3/index.json" />
		<add key="InstrumentProfileContracts" value="https://azure.charisma.tech/Brokerage/Trader/_packaging/InstrumentProfileContracts/nuget/v3/index.json" />
	</packageSources>
</configuration>